target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
*.ipr
bin/
**/*maven-eclipse.xml
**/*externalToolBuilders
**/node_modules
**/dist
logs
solr
solr-test
admin/images
mbq-deploy.retry
ms-deploy.retry
*.log
.vscode
deploy/
out/
.gradle/
build/
